.list {
  display: flex;
  justify-content: end;
  padding: 10px;
  border: 1px solid var(--lightText);

  .profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .icon {
    width: 15px;
    margin-right: 5px;

  }
  h2 {
    color: var(--text);

  }
  .footer{
  margin-left: auto;
}
}

